<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>custom.scripts.backups</string>
		<key>ProgramArguments</key>
		<array>
			<string>/path/to/custom/script.sh</string>
		</array>
		<key>StartCalendarInterval</key> 
		<dict> 
			<key>Hour</key> 
			<integer>00</integer> 
			<key>Minute</key> 
			<integer>00</integer> 
		</dict>
<!-- Logging
        <key>StandardErrorPath</key>
        <string>/var/log/custom.login.lock.log</string>
        <key>StandardOutPath</key>
        <string>/var/log/custom.login.lock.error.log</string>
-->
	</dict>
</plist>