<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>custom.scripts.cron.monthly</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>DIR_CRON</key>
		<string>/path/to/scripts</string>
	</dict>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>-c</string>
		<string>/usr/bin/find "${DIR_CRON}" -path "${DIR_CRON}/_*" -prune -o -type f ! -iname _*.sh -iname *.sh -exec chmod +x {} \; -exec bash {} \;</string>
	</array>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Day</key>
		<integer>1</integer>
		<key>Hour</key>
		<integer>0</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<!--
	<key>StandardErrorPath</key>
	<string>/var/log/custom.login.lock.log</string>
	<key>StandardOutPath</key>
	<string>/var/log/custom.login.lock.error.log</string>
	-->
</dict>
</plist>
